<h1><%= current_user.name%>'s Planned Vacations </h1>

<br><br>
<ol>
  <% current_user.vacations.each do |vacation| %>
      <li><%= link_to vacation.name, vacation_path(vacation) %> in <%=vacation.destination.full_name%></li>
      <%= button_to "Delete Vacation", vacation, method: "delete" %>
      <br><br>
  <% end %>
</ol>
