<% if vacation.previous %>
  <a href="#" class="previous" data-id="<%=vacation.id%>">&laquo; Previous</a>
<% end %>
<% if vacation.next %>
  <a href="#" class="next" data-id="<%=vacation.id%>">Next &raquo;</a>
<% end %>
