<b>Destination</b><p id="destination_name"><%= vacation.destination.full_name %></p>
<b>Date:</b> <p id="date"><%= vacation.date%></p>
<b>Length:</b> <p id="length"><%=vacation.length%> days!</p>
<b>Starting Budget:</b> <p id="vacation_budget"> $<%= vacation.budget %></p>
