<% if current_user && !current_user.vacations.empty? %>

  <%= render 'current_vacations' %>

<% elsif current_user && current_user.vacations.empty? %>

  <h2>Uh oh! You have no planned vacations!</h2>

<% end %>

  <%= render 'vacation_form' %>
