<div class="container">
  <%= render partial: 'vacation_info', locals: {vacation: @vacation}%>

  <% if @vacation.activities.empty? %>

    <div class="container">
      <b>Start adding some activities!</b><br>
      <%= link_to "Add Activities Here", vacation_activities_path(@vacation) %>
    </div>
  <% else %>

  <%= link_to "Click to See Planned Activities", vacation_activities_path(@vacation), :id => "show_activities" %>

    <ol id= "display_vacation_activities">

    <!-- vacation activities will be shown here -->
    </ol>

  <% end %>
</div>
