<div class="container-fluid content-center">
  <h1> <% if current_user %>
    Hello, <%= current_user.name %>!
  <% end %>Welcome to Travel on Rails </h1>
  <h2> The Ultimate Vacation Planner Application </h2>
</div>
