<div class="container">
  <h4 id="activity_name"><%= activity.name %></h4>
  <!-- <b>Location:</b>
    <p id="activity_vacation_destination"><%= activity.vacation_id %></p> -->
  <b>Price per person: </b>
    <p id="activity_price">$<%= activity.price %> </p>
  <b>Activity Type:</b><br>
    <div class="append_types">
      <% activity.types.each do |type| %>
      <li><i><%= type.name%></i><br></li>
      <% end %>
    </div>

</div>
