<h4 id="activity_name"><%= activity.name %></h4>
<% if activity.description %>
  <h5 id="activity_description"><%= activity.description %></h5>
<% end %>
<b>Price per person: </b>
  <p id="activity_price">$<%= activity.price %> </p>
<b>Rating: </b>
  <p id="activity_rating"> <%= activity.rating %> </p>
