<h1>Check out these activities that our users have enjoyed!</h1>
<h2>Also, take a look at <%= link_to "Top Five Rated Activities", top_five_path %></h2>

<% @activities.each do |activity| %>
  <ul>
    <strong><%= link_to activity.name, activity_path(activity.id) %></strong>
  </ul>
  <% end %>
