<h1>See all of the great activities that we offer</h1>
<h2>You can find these activities in ALL vacation destinations</h2>

<% @activities.each do |activity| %>
  <ul>
    <strong><%= activity.name %></strong>
    <li>$<%= activity.price %> per person</li>
    <li>Rating: <%= activity.rating %>/10</li>

    <% if current_user %>
    <% @vacation = Vacation.find(params[:vacation_id]) %>
      <%= button_to "Add to '#{@vacation.name}'", vacation_activities_path(activity_id: activity.id, vacation_id: @vacation.id) %>
    <% end %>
  </ul>
  <% end %>
