<h1>Check out these activities that our users have enjoyed!</h1>

<% @activities.each do |activity| %>
  <ul>
    <strong><%= link_to activity.name, activity_path(activity) %></strong>
  </ul>
  <% end %>
