<h1> Top Five Rated Activities </h1>
<ol>
<% @activities.each do |activity| %>

  <li><h2><%= link_to activity.name, activity_path(activity) %></h2></li>
  <ul>
  <h3>$<%= activity.price %> per person</h3>
  <h3>Rating: <%= activity.rating %>/10</h3>
  </ul>

<% end %>
</ol>
