<header class="container-fluid">
  <h1> Welcome to Travel on Rails </h1>
  <h2> The Ultimate Vacation Planner Application </h2>
</header>

<!-- <nav class="">
  <% if current_user %>
    *Hello, <%= current_user.name %>
  <% end %>
  <%= link_to "Destinations", destinations_path %> ||
  <%= link_to "Activities", activities_path %>
</nav> -->
